body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF0CE;
    /* background-color: #FFC436; */
    text-align: center;

}

header {
    background-color: #0C356A;
}

header h1 {
    color: #FFC436;
    font-size: xx-large;
    margin-top: -7px;
}

header h4 {
    margin-top: 30px;
    color: #FFC436;
    font-size: larger;
}

header p {
    color: #FFC436;
    margin-top: -15px;
    font-size: medium;
}

.navButton {
    border-radius: 0px;
    border-bottom: 8px;
    padding: 10px ;
    background-color: #0C356A;
    /* background-color: #0174BE; */
    color: #FFF0CE;
    width: 49%;
    height: 49%;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div {
    background-color: #FFF0CE ;
}

img {
    width: 150px;
    height: auto;
}

#rumusLuas {
    text-align: left;
}

#squareSide {
    margin-top: 20px;
    outline: none;
    border-radius: 16px;
    font-size: x-large;
    border: solid #FFC436;
    padding: 10px;
}

#sisiKanan {
    margin-bottom: 60px;
    margin-top: -90px;
    margin-left: 180px;
}

#squareSide : :focus {
    border : color solid black; 
    /* ini diatas masih salah */
}

button {
    background-color: #0174BE;
    color: #FFF0CE;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0C356A;
}

button:disabled {
    background-color: red;
}
button:active {
    background-color: #0174BE ;
    transform: translateY(3px);
}